:root {
	--main: #485acf;

	--body: white;
	--bodyHarsh: #f5f5f5;
	--offBody: var(--main);
	--headerArrow: white;
	--headerText: white;
	--text: #191919;
	--textSecondary: #4c4c4c;

	--sidebarWidth: 250px;
	--border: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
	body {
		--main: #485acf;

		--body: #191919;
		--bodyHarsh: var(--body);
		--offBody: #181818ce;
		--headerArrow: white;
		--headerText: var(--text);
		--text: white;
		--textSecondary: lightgray;

		--border: #303030;
	}
	pre code.hljs {
		filter: invert(1);
		border-left-color: #B0B238;
	}
}

html, body {
	display: flex;
	flex-direction: column-reverse;
}
body {
	margin: 0;
	background: var(--body);
	color: var(--text);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 50px;
	--inputHeight: 50px;
}

.sidebarWidth {
	width: var(--sidebarWidth);
}
.mainLayout {
	display: grid;
	grid-template-columns: auto 1fr;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid var(--border);
	background: var(--main);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	border-top: env(safe-area-inset-top) solid transparent;
}
[data-is-ios="true"] header {
	background: var(--offBody);
	color: var(--headerText);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	--headerArrow: #147EFB;
}
[data-is-ios="false"] header {
	border-top-color: rgba(0, 0, 0, 0.1);
}
header .showSidebar {
	display: none;
	color: var(--headerArrow);
}
.section {
	padding: 10px 20px;
}
header .left {
	border-right: 1px solid var(--border);
	height: 100%;
	font-size: 1.5rem;
	background: rgba(0, 0, 0, 0.1);
}
header .core {
	padding: 0 20px;
}
header .core .title {
	margin: 0;
	display: flex;
	align-items: center;
}
header .core .title .roomHashtag {
	opacity: .8;
	margin-left: 20px;
}

aside {
	border-right: 1px solid var(--border);
	position: sticky;
	height: calc(100vh - 51px);
	max-height: calc(100vh - 51px);
	overflow-y: auto;
	position: sticky;
	top: 50px;
}

.rooms {
	display: grid;
	grid-template-columns: 100%;
	/* grid-gap: 10px; */
	overflow-x: hidden;
	padding: 40px 0;
	border-top: env(safe-area-inset-top) solid transparent;
}
.room {
	position: relative;
	z-index: 0;
	display: flex;
	align-items: center;
	padding: 8px 20px;
	margin: 0 10px;
	border-radius: 4px;
	color: inherit;
	text-decoration: none;
}
.room .text {
	width: 100%;
}
.room:hover, .room.current {
	background: var(--border);
}

.room.unread:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 10px;
	height: 1rem;
	background: gray;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: -13px;
}
.room.unreadMention:before {
	background: var(--main);
}

.mainChat hr {
	width: 100%;
	height: 1px;
	border: 0;
	background: var(--border);
}

.mainChat .inputDiv {
	width: calc(100% - var(--sidebarWidth));
	height: calc(var(--inputHeight) + env(safe-area-inset-bottom));
	overflow-y: hidden;
	
	position: fixed;
	bottom: 0;

	background: var(--body);

	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 10px;
	align-items: center;

	padding: 0 20px;

	border-top: 1px solid var(--border);
	padding-bottom: env(safe-area-inset-bottom);
	box-sizing: border-box;
}
.mainChat .inputDiv .messageBox {
	height: 100%;
	padding: 15px 0px;
	box-sizing: border-box;
}
.messageBox[placeholder]:empty::before {
    content: attr(placeholder);
	color: var(--textSecondary); 
	opacity: 0.5;
}
.mainChat .inputDiv .send {
	padding: 8px;
	background: var(--main);
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
}
.mainChat .inputDiv .send svg {
	display: block;
	transform: rotate(45deg) translate(-2px, 2px);
}

.messages {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	padding: 70px 20px;
	padding-bottom: calc(20px + var(--inputHeight) + env(safe-area-inset-bottom));
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
	box-sizing: border-box;
}
.message {
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-gap: 10px;
}
.message .body p[data-is-fake="true"] {
	pointer-events: none;
	opacity: 0.5;
}
.messageLeft .authorImg {
	width: 100%;
	border-radius: 4px;
	border: 1px solid var(--border);
	display: block;
	background: var(--border);
	height: 40px;
}
.message .title {
	margin: 0;
}
.message .title .time {
	color: var(--textSecondary);
	margin-left: 10px;
	font-weight: 400;
}
.message .body p {
	margin: 0;
	color: var(--textSecondary);
	word-break: break-word;
	margin-top: 5px;
}
.message .body a {
	color: var(--main);
	text-decoration: none;
}
.message .body a:hover {
	text-decoration: underline;
}
.message .body .parameter {
	background: var(--border);
	border-radius: 100px;
	padding: 0 10px;
}

.message .body .embedWrapper > * {
	margin-top: 5px;
}
.message .body p[data-id] img.embed {
	max-width: 300px;
	max-height: 500px;
	object-fit: contain;
}

/* Skeleton messages */
[data-is-skeleton="true"] .body > p[data-is-fake], [data-is-skeleton="true"] .title {
	background: var(--textSecondary);
	opacity: 0.1;
}
[data-is-skeleton="true"] .title {
	display: inline;
}
[data-is-skeleton="true"] .title > * {
	opacity: 0;
}

/* Embeds */
.urlEmbed {
	padding: 10px;
	border: 1px solid var(--border);
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-gap: 10px;
	border-radius: 4px;
	align-items: center;
}
.urlEmbed[data-has-image="false"] {
	grid-template-columns: 100%;
}
.urlEmbed .embedImage {
	width: 100%;
	border: 1px solid var(--border);
	border-radius: 4px;
	overflow: hidden;
	display: block;
}
.urlEmbed .embedTitle, .urlEmbed .embedDescription {
	margin: 0;
	font-size: .9rem;
}
.urlEmbed .embedDescription {
	color: var(--textSecondary);
}
.embedFrame {
	width: 100%;
	max-width: 350px;
	height: 300px;
	border: 1px solid var(--border);
	border-radius: 6px;
	overflow: hidden;
}

/* Code */
code {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background: #f5f7f9;
	border-radius: 6px;
}
pre {
	white-space: pre-wrap;
}
pre code {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-left: 3px solid var(--main);
	word-break: normal;
}

@media screen and (max-width: 900px) {
	.mainLayout {
		grid-template-columns: 100%;
	}
	[data-focus="core"] aside {
		display: none;
	}
	[data-focus="aside"] .core {
		display: none;
	}

	header .left {
		display: none;
	}
	[data-is-ios="true"] header .core .title {
		display: grid;
		grid-template-columns: 24px 1fr 24px;
		text-align: center;
	}
	[data-is-ios="false"] header .showSidebar {
		margin-right: 20px;
	}
	header .showSidebar {
		display: flex;
	}
	header .showSidebar svg {
		display: block;
	}
	body:not(.loaded) .showSidebar {
		opacity: 0;
		pointer-events: none;
	}

	header .core .title .roomHashtag {
		display: none;
	}


	aside {
		position: initial;
		max-height: initial;
		height: auto;
		border: 0;
	}
	.sidebarWidth {
		width: 100%;
	}
	.message .body p[data-id] img.embed {
		width: 100%;
	}
	.mainChat .inputDiv .messageBox {
		width: 100%;
	}

	.codeWrapper {
		max-width: calc(100vw - 90px);
	}
	pre {
		white-space: pre;
	}

	.mainChat .inputDiv {
		width: 100%;
		background: var(--bodyHarsh);
	}

}